fastapi==0.75.2
python-dotenv==0.20.0
uvicorn[standard]==0.17.6
PyJWT==2.3.0
pytest-cov==3.0.0
python-multipart==0.0.5
APScheduler===3.10.1
bleach==5.0.0

# Database
SQLAlchemy==2.0.19
psycopg2-binary==2.9.7

# pymongo==4.1.1

